*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

.container {
  font-family: var(--font-geist-sans);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, li{
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 375px;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  h1 {
    color: #272D37;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 20px;
  }
}

.container {
  text-align: center;
  justify-items: center;
  background-color: #FAFBFC;
  li {
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 25px;
    margin-bottom: 16px;
    border: 1px solid #EAEBF0;
    box-shadow: 0px 1px 2px 0px #1018280A;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 343px;
    row-gap: 12px;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  a {
    background-color: #F5FAFF;
    color: #437EF7;
    margin-bottom: 15px;
    padding: 5px 7px;
    border-radius: 8px;
  }
}

.Header{
  margin-bottom: 20px;
}

li {
  list-style: none;
  p {
    text-decoration: underline;
    color: #5F6D7E;
  }
}

h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #272D37;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #272D37;
}

.InformationBox {
  margin: 0 auto;
  h1 {
    margin: 0;
  }
}

.PersonalInfo {
  text-align: left;
  border: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  background-color: #FFFFFF;
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  padding: 40px 25px;
  margin-bottom: 16px;
  width: 343px;
  row-gap: 12px;
}

.UserPhoto {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 40px 25px;
  margin-bottom: 16px;
  width: 343px;
  row-gap: 12px;
  display: flex;
  align-items: center;
  gap: 36px;
  margin-bottom: 20px;
  border: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  background-color: #FFFFFF;
  border-radius: 12px;
}

.Todos {
  margin: 0 auto;
  text-align: left;
  padding: 40px 25px;
  margin-bottom: 16px;
  border: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  background-color: #FFFFFF;
  border-radius: 12px;
  width: 343px;
  row-gap: 12px;
  li {
    width: 300px;
  }
  h2 {
    margin-bottom: 15px;
  }
  p {
    text-decoration: none;
  }
}

@media(width >= 768px) {
  .container {
    margin: 0 auto;
    width: 768px;
    padding: 35px;
  }

  .Header {
    display: flex;
    justify-content: space-between;
  }

  .UsersContainer ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .PostDetailId {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 12px;
    padding: 12px 8px;
  }

  .UserPhoto {
    width: 680px;
    display: flex;
    flex-direction: row;
  }

  .PersonalInfo {
    width: 680px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }

  .InformationBox {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .Todos {
    width: 680px;
    li {
      width: 600px;
    }
  }

}

@media(width >= 1110px) {
  .container{
    width: 1440px;
    padding: 90px;
    h1 {
      font-weight: 900;
      font-size: 45px;
    }
    a {
      font-size: 24px;
      background-color: #F5FAFF;
      color: #437EF7;
      margin-bottom: 15px;
      padding: 4px 7px;
      border-radius: 8px;
   }
   h3{
    font-size: 26px;
    font-weight: 600;
   }
   img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
   }
  }

  .UsersContainer ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .UsersContainer li {
    width: 400px;
    p {
      font-weight: 500;
      font-size: 20px;
    }
    h5 {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 8px;
    }
  }

  a:hover {
    background-color: #437EF7;
    color: #F5FAFF;
  }

  .PostDetailId {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 12px;
    padding: 12px 8px;
  }

  .InformationBox {
    text-align: left;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .UserPhoto {
    width: 1100px;
    display: flex;
    flex-direction: row;
  }

  .PersonalInfo {
    width: 1100px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    p {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .Todos {
    width: 1100px;
    li {
      width: 1000px;
    }
    p{
      font-size: 24px;
      font-weight: 500;
    }
  }
}